# Rules for Dynamixel USB Adapters
#
# This rule assigns a symbolic link "/dev/ttyDXL" to the FTDI USB-to-serial
# adapters commonly used for Dynamixel servos, such as the USB2DYNAMIXEL and U2D2.
# This provides a consistent device name, regardless of which /dev/ttyUSBx port
# it is assigned by the OS.

# FTDI-based USB2DYNAMIXEL or U2D2
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE="0666", GROUP="dialout", SYMLINK+="ttyDXL"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", MODE="0666", GROUP="dialout", SYMLINK+="ttyDXL"
